logs
project/project
project/target
target
tmp
.history
dist
/.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID

bin/
.eclipse
/lib/
/modules
test-result
server.pid
*.eml
.cache
application.conf
/application.conf
conf/application.conf
/conf/application.conf
conline-rest/conf/application.conf